_site
build
build-ninja
*.comp
stats
*.swp
*.swm
*.swn
*.swo
*.swl
*.swi
*.swj
*.swk
*.png
*krakout*
kraklist.txt
.*.un~
papers
callgrind*
*.comp_new
*.comp_new.expr
*.comp_bac
bintest.bin
*.dot
.stfolder
kraken
*.c
kraken_bac
kraken_deprecated
bootstrap_kalypso
kraken_bootstrap
compiler_version.krak
untracked_misc
